@model IEnumerable<Desarrollo_Proyecto_ED_2.Relacion>

@{
    ViewBag.Title = "ListaDeRelaciones";
}

<h2>ListaDeRelaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Sucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Sucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
